{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Profil de l'utilisateur : {{app.user.username}}</h1>
    <div class="container mt-5 d-flex flex-column">
        <h5 class="text-center">Liste des annonces Favoris</h5>
        <div class="d-flex justify-content-center flex-wrap gap-5 mt-5">
        {% for computer in computersFav %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{asset(computer.computers.image)}}" alt="Card image cap">
                    <div class="card-body">
                        <div class="text-center my-4">
                            <a class="text-warning" href="{{path('app_tab', {'id': computer.computers.brand.id})}}" class="card-text">{{computer.computers.brand.name}}</a>
                        </div>
                        <h5 class="card-title">{{computer.computers.model}}</h5>
                        <p class="card-text">{{computer.computers.description|u.truncate(50, '...' )}}</p>
                        <div class="text-center">
                            <a href="{{ path('app_computer_show', {'id': computer.computers.id}) }}" class="btn btn-info">Voir plus</a>
                            {% if app.user %}
                                {% if computer.computers.isUserFav(app.user) %}
                                    <a href="{{ path('app_annonce_fav', {'id': computer.computers.id}) }}" class="btn btn-warning"><i class="fa-solid fa-heart-circle-check"></i></a>
                                {% else %}
                                    <a href="{{ path('app_annonce_fav', {'id': computer.computers.id}) }}" class="btn btn-success"><i class="fa-solid fa-heart-circle-plus"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container my-5 d-flex flex-column">
        <h5 class="text-center">Éditer mes annonces</h5>
        <div class="d-flex justify-content-center flex-wrap gap-5 mt-5">
        {% for computer in computersOwned %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{asset(computer.image)}}" alt="Card image cap">
                    <div class="card-body">
                        <div class="text-center my-4">
                            <a class="text-warning" href="{{path('app_tab', {'id': computer.brand.id})}}" class="card-text">{{computer.brand.name}}</a>
                        </div>
                        <h5 class="card-title">{{computer.model}}</h5>
                        <p class="card-text">{{computer.description|u.truncate(50, '...' )}}</p>
                        <div class="text-center">
                            <a href="{{ path('app_computer_show', {'id': computer.id}) }}" class="btn btn-info">Voir plus</a>
                            {% if app.user %}
                                {% if computer.isUserFav(app.user) %}
                                    <a href="{{ path('app_annonce_fav', {'id': computer.id}) }}" class="btn btn-warning"><i class="fa-solid fa-heart-circle-check"></i></a>
                                {% else %}
                                    <a href="{{ path('app_annonce_fav', {'id': computer.id}) }}" class="btn btn-success"><i class="fa-solid fa-heart-circle-plus"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
